<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"> <!-- Added tools namespace -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> 

    <application
        android:label="Cabbmate"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon"
        tools:replace="android:label"> <!-- Added tools:replace to resolve label conflict -->

        <receiver android:name="com.dexterous.flutterlocalnotifications.receivers.NotificationReceiver" android:exported="true"/>
        <receiver android:name="com.dexterous.flutterlocalnotifications.receivers.ActionReceiver" android:exported="true"/>
        <receiver android:name="com.dexterous.flutterlocalnotifications.receivers.DismissedReceiver" android:exported="true"/>
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
            />
            <meta-data android:name="payu_debug_mode_enabled" android:value="true" /> <!-- Set to false for production -->
            <meta-data android:name="payu_web_service_url" android:value="https://test.payu.in" /> <!-- Remove for production -->
            <meta-data android:name="payu_post_url" android:value="https://test.payu.in"/> <!-- Remove for production -->
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter-specific metadata -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDSUJVewrd3aLX7o5r_HABdeGIEoT9V1AA" />

    </application>
</manifest>
